* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-size: cover;
    padding-right: 0px;
}

.background-window {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../PHOTO/bg.JPEG);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
}

.background-window-content {
    margin-top: 30px;
    margin-left: 60px;
    position: fixed;
    z-index: 2;
    filter: none;
}

.frontground-window {
    position: relative;
    margin: auto;
    width: 80%;
    background-color: rgb(243, 240, 249);
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center;
    z-index: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.photo {
    width: 100%;
    display: flex;
    flex-direction: column; /* 세로로 이미지 나열 */
    align-items: center;
}

.photo span {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.photo img{
    width: 1060px;
    height: auto;
    aspect-ratio: 265 / 177;
    object-fit: cover;
}



.mp4 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mp4 video {
    width: 510px; /* 각 동영상의 너비를 반반으로 설정 */
    margin: 20px 20px;
}
video {
    width: 100%;
    height: auto;
}

.font {
    color: rgba(183, 60, 103, 0.6);
    font-size: 40px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.font:hover {
    color: rgba(183, 60, 103, 0.3);
}
